
@{
    ViewBag.Title = "BloodDonation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Donating blood is good for health</h1>
<h3>There is no blood donation event right now. <br />Come back later.</h3>

