@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h1 class="about_title">@ViewData["Title"]</h1>
    <div class="about-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget ante odio. Nulla tempor nibh sed suscipit dignissim. Sed non tempor felis. Donec sed vestibulum leo. Aenean commodo justo et nunc fringilla ullamcorper. Ut maximus laoreet purus, et interdum ex feugiat vitae. Nulla facilisi. Donec feugiat, lorem quis maximus varius, sapien lectus blandit dolor, at sodales lectus massa ut magna. Nulla porta neque nibh, non condimentum turpis imperdiet et. Sed quis dolor sem. Aliquam a ornare arcu. Nunc sit amet volutpat erat. Phasellus sed molestie orci.
        <br />
        Integer purus neque, varius vehicula tincidunt non, faucibus ut orci. Nunc placerat dolor vitae felis tristique, bibendum congue ipsum varius. Cras nec dictum tellus, ac commodo tellus. Nullam quis molestie dui. Nunc consequat pulvinar egestas. Nullam sed mi justo. Integer consequat ultricies diam vitae tincidunt.
        <br />
        Sed pulvinar neque vitae turpis vestibulum fermentum. Cras turpis sapien, aliquam ut egestas vitae, luctus et urna. Maecenas ornare ac quam varius sagittis. Maecenas consequat cursus nisl eu fringilla. Donec a volutpat elit. Donec sollicitudin aliquam felis ac placerat. Nullam dapibus dictum elementum. Fusce id ante ut mauris dignissim auctor. Aliquam erat volutpat.
        <br />
        Ut aliquet ipsum vel sagittis aliquet. Vivamus in suscipit nibh. Ut efficitur magna eget dui finibus vehicula. Suspendisse dictum vestibulum mi ac maximus. Etiam convallis ligula nulla, eu aliquam augue condimentum et. Quisque id est libero. Praesent orci elit, fermentum nec bibendum vitae, pellentesque non lorem. Sed mattis dictum ipsum, maximus tincidunt nisl iaculis et.
        <br />
        Nulla nisi orci, porttitor sed mi molestie, efficitur feugiat libero. Quisque lacus quam, congue at erat pellentesque, posuere vulputate metus. Duis condimentum eu lorem vel scelerisque. Ut gravida vehicula orci eget dictum. Nulla congue orci eu erat fringilla, sit amet dignissim magna lobortis. Sed tristique sapien id libero sodales, eget viverra neque cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend velit dolor, vitae hendrerit nisl rutrum non.
    </div>
    <div class="current_volunteers_section">
        <h3 class="current_volunteers_section_title">Current Volunteers</h3>
        <div class="current_volunteers">
            <div class="current_volunteer_container">
                <div class="current_volunteer_image">
                    <img src="~/images/user_dummy.png" alt="volunteer image" />
                </div>
                <div class="current_volunteer_description">
                    <span>Name: Lorem Ipsum Name</span>
                    <span>Mobile: Lorem Ipsum Name</span>
                    <span>Status: Lorem Ipsum Status</span>
                    <span>Total Serve: Lorem Ipsum Total Serve</span>
                </div>
            </div>
            <div class="current_volunteer_container">
                <div class="current_volunteer_image">
                    <img src="~/images/user_dummy.png" alt="volunteer image" />
                </div>
                <div class="current_volunteer_description">
                    <span>Name: Lorem Ipsum Name</span>
                    <span>Mobile: Lorem Ipsum Name</span>
                    <span>Status: Lorem Ipsum Status</span>
                    <span>Total Serve: Lorem Ipsum Total Serve</span>
                </div>
            </div>
            <div class="current_volunteer_container">
                <div class="current_volunteer_image">
                    <img src="~/images/user_dummy.png" alt="volunteer image" />
                </div>
                <div class="current_volunteer_description">
                    <span>Name: Lorem Ipsum Name</span>
                    <span>Mobile: Lorem Ipsum Name</span>
                    <span>Status: Lorem Ipsum Status</span>
                    <span>Total Serve: Lorem Ipsum Total Serve</span>
                </div>
            </div>
        </div>
    </div>
</div>

