
@{
    ViewBag.Title = "DonateBloodForUser";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Donating blood is good for health</h2>
<h3>There is no blood donation event right now. <br />Come back later.</h3>

