
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.donator = Session["donator"];
}

<div class="index-dashboard">
    <div class="top-section">
        <div class="current">
            current
            <div>
            </div>
        </div>
        <div class="recent">
            recent
        </div>
    </div>
    <div class="bottom-section">
        <div class="total_food_donation">
            Food
        </div>
        <div class="total_money_donation">
            Money
        </div>
        <div class="total_cloth_donation">
            Cloths
        </div>
        <div class="total_blood_donation">
            Blood
        </div>
    </div>
</div>
